* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  font-family: sans-serif;
  margin: 0 auto;
}

.name {
  border-top: black solid 5px;
  font-weight: normal;
  font-size: 42px;
  padding-top: 30px;
  margin-bottom: 15px;
}

.container {
  border: #000 solid 5px;
  padding: 100px;
  margin: 12px;
}

p {
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 22px;
}

h3 {
  color: #3498db;
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 10px;
}

h4 {
  color: #2ecc71;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 30px;
  font-weight: normal;
}

li {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 22px;
}

li:last-child {
  margin-bottom: 10px;
}

a:link {
  color: blue;
  text-decoration: hotpink;
}
a:visited {
  color: blue;
  text-decoration: hotpink;
}

a:hover {
  color: blueviolet;
}

a:active {
  color: cornflowerblue;
}
